
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  --primary-color: #004a7c  ;
  --secondary-color: #001828 ;
  --accent1-color: #fed18a;
  --accent2-color: #e1b15f;

  --heading-font: "Montserrat", sans-serif;;
  --paragraph-font: "Lato", sans-serif;

  --headline-color-on-white: #004a7c ;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #001828 ; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #004a7c   ;
  --nav-link-color: #396E94;
  --nav-background-color: #fed18a;
  --nav-hover-link-color: #e1b15f;
  --nav-hover-background-color: #001828;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-color: #004a7c;
}
img.logo{
  size: 20px;
}
content {
  max-width: 1600px;
  margin: 0 auto;
}
img {
text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: (white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}

.hero-box {
width: 100%;
text-align: center;
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.Foundations {
  background-color: #004a7c;
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-hover-link-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  color: var(--nav-hover-background-color);
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}



.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
footer {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}